---
const { title, variant } = Astro.props;
---

<div>
  <p>{title}</p>
  <div class={variant}>
    <i class="fa-solid fa-chevron-down"></i>
  </div>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    margin-right: 8px;
    color: var(--font_color);
    font-family: var(--main_font);
    font-weight: 400;
    font-size: var(--fs_xs);
  }

  .fa-chevron-down {
    color: var(--font_color);
  }
  .hidden {
    visibility: hidden;
  }
</style>
